.header .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 0;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
  flex-grow: 1;
  margin-left: 76px;
}
.nav-list {
  display: flex;

  gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
