.header .container {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  margin-bottom: 0;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
  flex-grow: 1;
  margin-left: 76px;
}
.nav-list {
  display: flex;

  gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
